<!-- forgot-password.component.html -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Forgot Password</h2>

                    <!-- Show OTP request button if OTP is not received -->
                    <div *ngIf="!otpReceived">
                        <form (ngSubmit)="requestOTP()">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" id="username" name="username" [(ngModel)]="username"
                                    class="form-control" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Request OTP</button>
                        </form>
                    </div>

                    <!-- Show new password fields if OTP is received -->

                    <div *ngIf="otpReceived">
                        <div *ngIf="otp" class="alert alert-success">Email is sent, Check your spam as well, For easy
                            demonstration, i am showing OTP here as well, OTP : <br /><strong>{{otp}}</strong></div>
                        <form (ngSubmit)="changePassword()">
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                                    class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" id="confirmPassword" name="confirmPassword"
                                    [(ngModel)]="confirmPassword" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label for="otp" class="form-label">OTP Password</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                                    required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                        </form>
                    </div>

                    <button class="btn btn-danger btn-block my-2" (click)="reload()">Restart Process</button>

                    <div class="card-footer text-muted text-center">
                        Want to login again? <a routerLink="/login" class="text-primary">Login here</a>.
                    </div>

                    <div *ngIf="message" class="alert alert-danger">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>